@import "../common/mixins";

#home {
    width: calc(100% - 10%);
    height: 1500px;
    background-color: $background;
    font-family: $roboto;
    color: $text;
    padding: 40px 5% 0 5%;
}


.list-home {
    height: 600px;
    margin-bottom: 50px;
    a {
        color: $text;
        text-decoration: none;
        h2 {
            font-size: 32px;
            font-weight: 300;
            margin: 25px 0 25px 0;
            @include phone {
                font-size: 20px;
            }
        }
    }
    @include phone {
        height: 550px; 
    }
    @include tablet {
        height: 570px;
    }
}

.card-list-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.arrow-list-home {
    font-size: 20px;
    color: $accent;
    padding-left: 15px;
}