@import "../common/mixin.scss";
@import "../common/variables.scss";

.container-footer {
  background-color: $menu;
  box-sizing: border-box;
  color: $smoke;
  padding: 10px 0 10px 0;
}

.names-box {
  text-align: center;
  h3 {
    color: $text;
    @include phone {
      text-align: center;
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    li {
      list-style: none;
      a {
        color: $smoke;
        font-size: 25px;
        margin: 10px;
        &:hover {
          color: white;
        }
      }
    }
    @include phone {
      justify-content: space-between;
      margin-right: 18px;
    }
  }
  @include phone {
    text-align: inherit;
  }
}

.rights-box {
  font-size: 12px;
  color: $smoke;
  text-align: center;
  a {
    color: $smoke;
    margin-left: 10px;
    &:hover {
      color: white;
    }
  }
}
li div {
  display: inline-block;
  padding: 4px;
}
