.container-footer{
    box-sizing: border-box;
    color:#80868b;
    margin: 0;
    padding: 2rem 1.5rem 3.5rem;
    line-height: 1.6;
    p{
        margin: .3rem 0;
        font-size: 14px;
        a{
            background-color: transparent;
            color: #80868b;
            margin-left: 5px;
            text-decoration: underline;
            width: 100%;
        }
    }
}