@import "../common/mixin";
@import "../common/variables";

#main-page {
    width: 100%;
    height: auto;
    background-color: $background;
    font-family: $roboto;
    color: $text;
    padding: 40px 10% 100px 10%;
    box-sizing: border-box;
}

.list-main-page {
    width: 100%;
    height: 470px;
    margin-top: 50px;
    overflow: hidden;
    a {
        color: $text;
        text-decoration: none;
        h2 {
            font-size: 32px;
            font-weight: 300;
            margin: 25px 0 25px 0;
            @include phone {
                font-size: 20px;
            }
        }
    }
    @include phone {
        height: 560px;
    }
    @include tablet {
        height: 500px;
    }
}

.card-list-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: content-box;
    @include phone {
        width: 100%;
        height: 550px;
        box-sizing: content-box;
    }
}

.arrow-list {
    font-size: 20px;
    color: $accent;
    padding-left: 15px;
}
