@import "../common/mixin.scss";
@import "../common/variables.scss";

.container-section {
  background-color: rgb(54, 57, 63);
  box-sizing: border-box;
  padding-bottom: 60px;
}

p {
  color: rgb(220, 221, 222);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
