@import "../common/mixin.scss";
@import "../common/variables.scss";

.container-videos {
  display: flex;
  flex-wrap: wrap;
  background-color: $background;
  flex-direction: row;
  justify-content: space-around;
  padding: 45px;

  @mixin tablet {
    padding: 32px;
  }
  @mixin phone {
    padding: 40px;
  }
}
