@import "../common/mixin.scss";
@import "../common/variables.scss";

.container-videos {
  display: flex;
  flex-wrap: wrap;
  background-color: #36393f;
  flex-direction: row;
  justify-content: space-around;
  padding: 45px;

  @media (max-width: 1024px) {
    padding: 32px;
  }
  @media (max-width: 767px) {
    padding: 40px;
  }
}
