@import '../Style/mixin';

.hero-container{
    background-color: rgb(0, 0, 0);
    height: 300px;
    position: relative;
    @include tablet{
        height: 600px;
    }
    .black-gradient{
        background: linear-gradient(to top, rgb(0, 0, 0) 0px, transparent 50%, transparent);
        height: 100%;
        position: absolute;
        right: 0;
        top:0;
        width: 100%;
    }
    .hero-movie{
        background-position: center center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .menu-hero{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin: 20px 0 10px;
        padding: 20px 0;
        .font{
            color:#dcddde;
            font-size: 20px;
            font-weight: bold;
            margin: 10px;
            padding-bottom: 10px;
        }

    }

}


