@import "../common/variables.scss";
@import "../common/mixin.scss";
#card {
  width: 20%;
  height: 470px;
  font-family: $roboto;
  color: $text;
  padding: 0 4px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  h3 {
    font-size: 20px;
    margin: 15px 0 5px 0;
    font-weight: 300;
  }
  @include phone {
    width: 100%;
    height: 500px;
    h3 {
      font-size: 16px;
    }
  }
  @include tablet {
    width: 33%;
    height: 400px;
  }
}

.img-card {
  transition: all 0.9s ease 0s, height 0s ease 0s;
  img {
    width: 100%;
    height: auto;
    transition: all 0.9s ease 0s, height 0s ease 0s;
  }
}
img.img-user {
  height: 382px;
}

.card-subtitle {
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
}

.img-card {
  height: 389px;
  background-color: $darkGray;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    background-color: inherit;
  }
}
#card:hover {
  .img-card {
    img {
      transform: scale(1.1);
    }
  }
}
img.img-not-support {
  width: 50px;
}
