@import "../common/mixin.scss";
@import "../common/variables.scss";
.hero-container {
  box-sizing: border-box;
  background-color: $black;
  height: 300px;
  position: relative;
  width: 100%;
  @include tablet {
    height: 600px;
  }
  @include desktop {
    height: 600px;
  }
  .black-gradient {
    background: linear-gradient(
      to top,
      $black 0px,
      transparent 50%,
      transparent
    );
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  .hero-movie {
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}
