@import "../common/mixin.scss";
@import "../common/variables.scss";

.menu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 20px 0 10px;
    padding: 20px 0;
    .tab{
        text-decoration:none;
        color:#A8AAAD;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        margin: 10px;
        padding-bottom: 10px;
        &:hover{
            color:#dcddde;
        }
    }
    .selected{
        color:#dcddde;
        border-bottom: 2px solid rgb(220, 221, 222);
    }
}



