@import "../common/mixin.scss";
@import "../common/variables.scss";
.all {
  box-sizing: border-box;
  max-width: 2400px;
  padding: 20px;
  width: 100%;
}

.container-movie {
  background-color: inherit;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  @include tablet {
    flex-direction: row;
  }
  @include desktop {
    flex-direction: row;
    justify-content: center;
  }
  .img-poster {
    align-self: flex-start;
    display: flex;
    overflow: hidden;
    img {
      background-position: center;
      background-size: cover;
      max-width: 250px;
    }
    @include phone {
      align-self: center;
    }
  }
  .container-text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 40px;
    max-width: 600px;
    padding: 0;
    text-align: left;
    width: 100%;
    @include tablet {
      margin-top: 0;
      padding: 0 30px;
      max-width: 57%;
    }
    @include desktop {
      margin-top: 0;
      padding: 0 30px;
      max-width: 40%;
    }
    .title-movie {
      color: rgb(220, 221, 222);
      font-size: 32px;
      font-weight: 300;
      line-height: initial;
      margin-top: 0;
    }
    .rating-movie {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      .fa-star,
      .fa-star-half-alt {
        color: $lightBlue;
        height: 20px;
        margin-right: 3px;
        width: 20px;
      }
    }
    .mgn-top {
      margin-top: 0;
    }
  }
}

.bttn {
  color: $lightBlue;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  &:hover {
    color: $blue;
  }
}
