@import "../common/mixin.scss";
@import "../common/variables.scss";

.pagination {
  display: flex;
  align-self: center;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.list-numbers {
  list-style: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50%;
  margin: 3px;
  transition: all 0.2s ease 0s;
  &:hover {
    background-color: $gray;
  }

  .numb {
    text-decoration: none;
    color: $text;
  }
}
.active {
  background-color: $gray;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease 0s;
  color: white;
  font-size: 16px;
  position: relative;

  &:hover {
    background-color: $gray;
  }
}

.arrowPress {
  bottom: 12px;
  position: absolute;
  left: 13px;
  color: white;
  cursor: pointer;
}
