.youtube {
  @media (min-width: 1025px) {
    height: 211px;
    width: 375px;
  }
  @media (max-width: 1024px) {
    height: 188px;
    width: 334px;
  }
  @media (max-width: 767px) {
    height: 194px;
    width: 345px;
  }
}

.content-youtube {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.title,
.subtitle {
  color: rgb(220, 221, 222);
  letter-spacing: 0.4px;
  font-weight: 400;
}
.subtitle {
  font-size: 14px;
  margin: 8px 0 25px 0;
}
.title {
  font-size: 15px;
  margin-top: 10px;
}
