$roboto: "Roboto", sans-serif;
$text: #dcddde;
$background: #36393f;
$menu: #23272a;
$accent: #2196f3;
$gray: rgb(97, 97, 97);
$lightGray: #a8aaad;
$smokeGray: #dcddde;
$whiteGray: rgb(220, 221, 222);
$black: rgb(0, 0, 0);
$darkGray: rgb(35, 39, 42);
$darkSmoke: rgb(54, 57, 63);
$smoke: #80868b;
$lightBlue: rgb(33, 150, 243);
$blue: #161cf9;
